body{
margin: 0;
padding: 0;
background-color: rgb(230, 250, 19);
z-index: -1;
}

#particles-js{
display:flex;
-webkit-clip-path: circle(100% at 0 10%);
clip-path: circle(92% at 0 55%);
width: 100%;
height: 115vh;
display: flex;
justify-content: center;
text-align: center;
background-color: rgb(16, 16, 145);

}

.title{
color: aliceblue;
display: block;
font-size: 3rem;
letter-spacing: 3px;
font-weight: bolder;
font-family: 'Noto Sans', sans-serif;
position: absolute;
}

.sub-title{
color: rgb(255, 255, 255);
letter-spacing: 2px;
display: block;
font-size: 3rem;
font-weight: bolder;
font-family: 'Noto Sans', sans-serif;
position: absolute;
top: 10rem;
left: 16rem;
}

.img{
width:34rem ;
height:36rem ;
position: absolute;
left:40.5rem;
bottom: -7.2rem;
}

.canvas{
height: fit-content;

}

.sub-title{
	font-size: 1 rem;
	font-weight: 100;
	display: block;
	position: absolute;
	left: 2rem;
	font-weight: bolder;
	font-family: 'Noto Sans', sans-serif;
}


.steps{
width: min-content;
height: min-content;
display: inline-block;
position: absolute;
top: 10px;
right: 5rem;
color: rgb(0, 58, 109);
font-size: 1.5rem;
font-family: 'Noto Sans', sans-serif;
}



.container{
width:fit-content;
height: auto;
}

@media screen and (max-width: 450px) {
	h1{
	font-size: 1.1rem;
	font-weight: 200;
	display: block;
	position: absolute;
	left:2rem;
	}
}

@media screen and (max-width: 450px) {
.img{
width: fit-content;
position: absolute;
left: 12rem;
bottom: 0rem;
width: 15rem;
height: 17rem;
}
}


@media screen and (max-width: 340px) {
	h1{
	font-size: 0.9rem;
	font-weight: 100;
	display: block;
	position: absolute;
	left:1em;
	}
}
